@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,700');

html,body{
  height: 100%;
  width: 100%;
  font-family: 'Poppins',sans-serif;
  background-image: url(images/alfaromeo.jpg) ;
  background-size: cover;
  background-position: center;
  color: #222;
}
.navbar {
  padding: .8rem;
  border-radius: 0;
  height: 10%;
}
.navbar-nav li{
  padding-right: 20px;
}
.nav-link {
  font-size: 1.1em !important;
}
.sign-up-form{
  width: 300px;
  box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.3);
  background: #fff;
  padding: 20px;
  margin: 8% auto 0;
  text-align: center;
}
.sign-up-form h1{
  color: #1c8adb;
  margin-bottom: 30px;
}
.input-box{
  border-radius: 20px;
  padding: 10px;
  margin: 10px 0;
  width: 100%;
  border: 1px solid #999;
  outline: none;
}
button{
  color: #fff;
  width: 100%;
  padding: 10px;
  border-radius: 20px;
  font-size: 15px;
  margin: 10px 0;
  border: none;
  outline: none;
  cursor: pointer;
}
.signup-btn{
  background-color: #1c8adb;
}
a{
  text-decoration: none;
}
hr{
  margin-top: 20px;
  width: 80%;
}
.or{
  background: #fff;
  width: 30px;
  margin: -30px auto 10px;
}
.sign-up-form img{
  width: 70px;
  margin-top: -50px;
}
/*---Media Queries --*/
@media (max-width: 768px) {

}
@media (max-width: 576px) {

}


/*---Firefox Bug Fix --*/

/*--- Bootstrap Padding Fix --*/
[class*="col-"] {
    padding: 1rem;
}





/*
Extra small (xs) devices (portrait phones, less than 576px)
No media query since this is the default in Bootstrap

Small (sm) devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

Medium (md) devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

Large (lg) devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

Extra (xl) large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }
*/
